*{
    padding: 0px;
    margin: 0px;
}
.web{
    display: flex;
    flex-direction: row-reverse;
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

.sqwhite{
    display: flex;
    background-color: aqua;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.tela{
    align-content: center;
    justify-content: center;
    background-color: white;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 15px;
    text-align: center;
}

.tela input{
    margin-bottom: 20px;
    width: 95%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}

.tela input:hover{
    background-color: lightblue;
    border-color: #4CAF50;
}

.inputs-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 4px;
}

.inputs-container input[type="submit"]:hover {
    background-color: #45a049;
}


.backimage{
    display: flex;
    background-color: white;
    height: 99%;
    width: 50%;
}