* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.exit {
    background-color: #2C73D2;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: end;
}

body {
    background-color: #F5F5F5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 380px;
    background: #26A69A;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn .5s ease-in-out;
}

.container-2 {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
    padding: 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2C73D2;
}

.input-box {
    margin-bottom: 15px;
}

.style-select {
    padding: 13px;
    border-radius: 6px;
    border: 1px solid #26A69A;
    width: 100%;
}

.select-box {
    margin-left: 0px;
    margin-top: 5px;
    /* espaço externo */
    padding: 0px;
    /* espaço interno */
    border-radius: 10px;
}

.input-box label {
    font-size: 14px;
    color: #333333;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #26A69A;
    font-size: 15px;
    margin-top: 5px;
    transition: .2s;
}

.input-box input:focus {
    background: #26A69A;
}

button {
    width: 100%;
    padding: 12px;
    background: #2C73D2;
    border: none;
    color: #333333;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: #26A69A;
}

a {
    text-decoration: none;
    background: #cfceca;
}

a:hover {
    text-decoration: underline;
}

.footer-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

/* ---------------------------------------------------------------- */
/* PAINEL.PHP*/
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
}

h1 {
    color: #2C73D2;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #26A69A;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #666666;
}

th {
    background-color: #26A69A;
    color: #333333;
}

tr:hover {
    background-color: #f1f1f1;
}


.input-box {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* ------------------------------- */
/* BARRA DE PESQUISA */
.form-pesquisa{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
  
.input-text{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.input-submit{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  