.web {
    background-color: whitesmoke;
    height: 945px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: aliceblue;
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retangle_blue {
    background-color: white;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
}


